{% extends "board/layout.html" %}

{% block content %}
    <hr/>
        <table class="table table-bordered table-hover">
                <tbody>
                {% for board in board_list%}
                    <tr>
                        <td>{{board.pk }}</td>
                        <td><a href='#'>{{board.title}}</a> </td>
                        <td>{{board.get_category_display}}</td>
                        <td>{{board.created_at}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <hr/>
</html>
{% endblock %}
